SERVER/Tester/src/META-INF/wsdl/localhost_8080/TicketMarketplaceWebService/TMWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="TMWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/TicketMarketplaceWebService/TMWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetPaymentMethods">
<part name="parameters" element="tns:GetPaymentMethods"/>
</message>
<message name="GetPaymentMethodsResponse">
<part name="parameters" element="tns:GetPaymentMethodsResponse"/>
</message>
<message name="CancelTicketOrder">
<part name="parameters" element="tns:CancelTicketOrder"/>
</message>
<message name="CancelTicketOrderResponse">
<part name="parameters" element="tns:CancelTicketOrderResponse"/>
</message>
<message name="GetVenueWithProvince">
<part name="parameters" element="tns:GetVenueWithProvince"/>
</message>
<message name="GetVenueWithProvinceResponse">
<part name="parameters" element="tns:GetVenueWithProvinceResponse"/>
</message>
<message name="ApproveRefundTicket">
<part name="parameters" element="tns:ApproveRefundTicket"/>
</message>
<message name="ApproveRefundTicketResponse">
<part name="parameters" element="tns:ApproveRefundTicketResponse"/>
</message>
<message name="SellerLogIn">
<part name="parameters" element="tns:SellerLogIn"/>
</message>
<message name="SellerLogInResponse">
<part name="parameters" element="tns:SellerLogInResponse"/>
</message>
<message name="SellerSignUp">
<part name="parameters" element="tns:SellerSignUp"/>
</message>
<message name="SellerSignUpResponse">
<part name="parameters" element="tns:SellerSignUpResponse"/>
</message>
<message name="SellerUpdateData">
<part name="parameters" element="tns:SellerUpdateData"/>
</message>
<message name="SellerUpdateDataResponse">
<part name="parameters" element="tns:SellerUpdateDataResponse"/>
</message>
<message name="GetVenueWithCity">
<part name="parameters" element="tns:GetVenueWithCity"/>
</message>
<message name="GetVenueWithCityResponse">
<part name="parameters" element="tns:GetVenueWithCityResponse"/>
</message>
<message name="ConnectionTest">
<part name="parameters" element="tns:ConnectionTest"/>
</message>
<message name="ConnectionTestResponse">
<part name="parameters" element="tns:ConnectionTestResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="GetCities">
<part name="parameters" element="tns:GetCities"/>
</message>
<message name="GetCitiesResponse">
<part name="parameters" element="tns:GetCitiesResponse"/>
</message>
<message name="UserLogIn">
<part name="parameters" element="tns:UserLogIn"/>
</message>
<message name="UserLogInResponse">
<part name="parameters" element="tns:UserLogInResponse"/>
</message>
<message name="UserSignUp">
<part name="parameters" element="tns:UserSignUp"/>
</message>
<message name="UserSignUpResponse">
<part name="parameters" element="tns:UserSignUpResponse"/>
</message>
<message name="UserUpdateData">
<part name="parameters" element="tns:UserUpdateData"/>
</message>
<message name="UserUpdateDataResponse">
<part name="parameters" element="tns:UserUpdateDataResponse"/>
</message>
<message name="PayTicket">
<part name="parameters" element="tns:PayTicket"/>
</message>
<message name="PayTicketResponse">
<part name="parameters" element="tns:PayTicketResponse"/>
</message>
<message name="UpdateVenueData">
<part name="parameters" element="tns:UpdateVenueData"/>
</message>
<message name="UpdateVenueDataResponse">
<part name="parameters" element="tns:UpdateVenueDataResponse"/>
</message>
<message name="RefundTicket">
<part name="parameters" element="tns:RefundTicket"/>
</message>
<message name="RefundTicketResponse">
<part name="parameters" element="tns:RefundTicketResponse"/>
</message>
<message name="GetVenueWithName">
<part name="parameters" element="tns:GetVenueWithName"/>
</message>
<message name="GetVenueWithNameResponse">
<part name="parameters" element="tns:GetVenueWithNameResponse"/>
</message>
<message name="CreateNewEvent">
<part name="parameters" element="tns:CreateNewEvent"/>
</message>
<message name="CreateNewEventResponse">
<part name="parameters" element="tns:CreateNewEventResponse"/>
</message>
<message name="GetEvent">
<part name="parameters" element="tns:GetEvent"/>
</message>
<message name="GetEventResponse">
<part name="parameters" element="tns:GetEventResponse"/>
</message>
<message name="UpdateEventData">
<part name="parameters" element="tns:UpdateEventData"/>
</message>
<message name="UpdateEventDataResponse">
<part name="parameters" element="tns:UpdateEventDataResponse"/>
</message>
<message name="GetSellerEvent">
<part name="parameters" element="tns:GetSellerEvent"/>
</message>
<message name="GetSellerEventResponse">
<part name="parameters" element="tns:GetSellerEventResponse"/>
</message>
<message name="CreateNewVenue">
<part name="parameters" element="tns:CreateNewVenue"/>
</message>
<message name="CreateNewVenueResponse">
<part name="parameters" element="tns:CreateNewVenueResponse"/>
</message>
<message name="BuyTicket">
<part name="parameters" element="tns:BuyTicket"/>
</message>
<message name="BuyTicketResponse">
<part name="parameters" element="tns:BuyTicketResponse"/>
</message>
<message name="GetCompanyEvent">
<part name="parameters" element="tns:GetCompanyEvent"/>
</message>
<message name="GetCompanyEventResponse">
<part name="parameters" element="tns:GetCompanyEventResponse"/>
</message>
<message name="ClaimTicket">
<part name="parameters" element="tns:ClaimTicket"/>
</message>
<message name="ClaimTicketResponse">
<part name="parameters" element="tns:ClaimTicketResponse"/>
</message>
<portType name="TMWebService">
<operation name="GetPaymentMethods">
<input wsam:Action="http://WebService/TMWebService/GetPaymentMethodsRequest" message="tns:GetPaymentMethods"/>
<output wsam:Action="http://WebService/TMWebService/GetPaymentMethodsResponse" message="tns:GetPaymentMethodsResponse"/>
</operation>
<operation name="CancelTicketOrder">
<input wsam:Action="http://WebService/TMWebService/CancelTicketOrderRequest" message="tns:CancelTicketOrder"/>
<output wsam:Action="http://WebService/TMWebService/CancelTicketOrderResponse" message="tns:CancelTicketOrderResponse"/>
</operation>
<operation name="GetVenueWithProvince">
<input wsam:Action="http://WebService/TMWebService/GetVenueWithProvinceRequest" message="tns:GetVenueWithProvince"/>
<output wsam:Action="http://WebService/TMWebService/GetVenueWithProvinceResponse" message="tns:GetVenueWithProvinceResponse"/>
</operation>
<operation name="ApproveRefundTicket">
<input wsam:Action="http://WebService/TMWebService/ApproveRefundTicketRequest" message="tns:ApproveRefundTicket"/>
<output wsam:Action="http://WebService/TMWebService/ApproveRefundTicketResponse" message="tns:ApproveRefundTicketResponse"/>
</operation>
<operation name="SellerLogIn">
<input wsam:Action="http://WebService/TMWebService/SellerLogInRequest" message="tns:SellerLogIn"/>
<output wsam:Action="http://WebService/TMWebService/SellerLogInResponse" message="tns:SellerLogInResponse"/>
</operation>
<operation name="SellerSignUp">
<input wsam:Action="http://WebService/TMWebService/SellerSignUpRequest" message="tns:SellerSignUp"/>
<output wsam:Action="http://WebService/TMWebService/SellerSignUpResponse" message="tns:SellerSignUpResponse"/>
</operation>
<operation name="SellerUpdateData">
<input wsam:Action="http://WebService/TMWebService/SellerUpdateDataRequest" message="tns:SellerUpdateData"/>
<output wsam:Action="http://WebService/TMWebService/SellerUpdateDataResponse" message="tns:SellerUpdateDataResponse"/>
</operation>
<operation name="GetVenueWithCity">
<input wsam:Action="http://WebService/TMWebService/GetVenueWithCityRequest" message="tns:GetVenueWithCity"/>
<output wsam:Action="http://WebService/TMWebService/GetVenueWithCityResponse" message="tns:GetVenueWithCityResponse"/>
</operation>
<operation name="ConnectionTest">
<input wsam:Action="http://WebService/TMWebService/ConnectionTestRequest" message="tns:ConnectionTest"/>
<output wsam:Action="http://WebService/TMWebService/ConnectionTestResponse" message="tns:ConnectionTestResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/TMWebService/ConnectionTest/Fault/Exception"/>
</operation>
<operation name="GetCities">
<input wsam:Action="http://WebService/TMWebService/GetCitiesRequest" message="tns:GetCities"/>
<output wsam:Action="http://WebService/TMWebService/GetCitiesResponse" message="tns:GetCitiesResponse"/>
</operation>
<operation name="UserLogIn">
<input wsam:Action="http://WebService/TMWebService/UserLogInRequest" message="tns:UserLogIn"/>
<output wsam:Action="http://WebService/TMWebService/UserLogInResponse" message="tns:UserLogInResponse"/>
</operation>
<operation name="UserSignUp">
<input wsam:Action="http://WebService/TMWebService/UserSignUpRequest" message="tns:UserSignUp"/>
<output wsam:Action="http://WebService/TMWebService/UserSignUpResponse" message="tns:UserSignUpResponse"/>
</operation>
<operation name="UserUpdateData">
<input wsam:Action="http://WebService/TMWebService/UserUpdateDataRequest" message="tns:UserUpdateData"/>
<output wsam:Action="http://WebService/TMWebService/UserUpdateDataResponse" message="tns:UserUpdateDataResponse"/>
</operation>
<operation name="PayTicket">
<input wsam:Action="http://WebService/TMWebService/PayTicketRequest" message="tns:PayTicket"/>
<output wsam:Action="http://WebService/TMWebService/PayTicketResponse" message="tns:PayTicketResponse"/>
</operation>
<operation name="UpdateVenueData">
<input wsam:Action="http://WebService/TMWebService/UpdateVenueDataRequest" message="tns:UpdateVenueData"/>
<output wsam:Action="http://WebService/TMWebService/UpdateVenueDataResponse" message="tns:UpdateVenueDataResponse"/>
</operation>
<operation name="RefundTicket">
<input wsam:Action="http://WebService/TMWebService/RefundTicketRequest" message="tns:RefundTicket"/>
<output wsam:Action="http://WebService/TMWebService/RefundTicketResponse" message="tns:RefundTicketResponse"/>
</operation>
<operation name="GetVenueWithName">
<input wsam:Action="http://WebService/TMWebService/GetVenueWithNameRequest" message="tns:GetVenueWithName"/>
<output wsam:Action="http://WebService/TMWebService/GetVenueWithNameResponse" message="tns:GetVenueWithNameResponse"/>
</operation>
<operation name="CreateNewEvent">
<input wsam:Action="http://WebService/TMWebService/CreateNewEventRequest" message="tns:CreateNewEvent"/>
<output wsam:Action="http://WebService/TMWebService/CreateNewEventResponse" message="tns:CreateNewEventResponse"/>
</operation>
<operation name="GetEvent">
<input wsam:Action="http://WebService/TMWebService/GetEventRequest" message="tns:GetEvent"/>
<output wsam:Action="http://WebService/TMWebService/GetEventResponse" message="tns:GetEventResponse"/>
</operation>
<operation name="UpdateEventData">
<input wsam:Action="http://WebService/TMWebService/UpdateEventDataRequest" message="tns:UpdateEventData"/>
<output wsam:Action="http://WebService/TMWebService/UpdateEventDataResponse" message="tns:UpdateEventDataResponse"/>
</operation>
<operation name="GetSellerEvent">
<input wsam:Action="http://WebService/TMWebService/GetSellerEventRequest" message="tns:GetSellerEvent"/>
<output wsam:Action="http://WebService/TMWebService/GetSellerEventResponse" message="tns:GetSellerEventResponse"/>
</operation>
<operation name="CreateNewVenue">
<input wsam:Action="http://WebService/TMWebService/CreateNewVenueRequest" message="tns:CreateNewVenue"/>
<output wsam:Action="http://WebService/TMWebService/CreateNewVenueResponse" message="tns:CreateNewVenueResponse"/>
</operation>
<operation name="BuyTicket">
<input wsam:Action="http://WebService/TMWebService/BuyTicketRequest" message="tns:BuyTicket"/>
<output wsam:Action="http://WebService/TMWebService/BuyTicketResponse" message="tns:BuyTicketResponse"/>
</operation>
<operation name="GetCompanyEvent">
<input wsam:Action="http://WebService/TMWebService/GetCompanyEventRequest" message="tns:GetCompanyEvent"/>
<output wsam:Action="http://WebService/TMWebService/GetCompanyEventResponse" message="tns:GetCompanyEventResponse"/>
</operation>
<operation name="ClaimTicket">
<input wsam:Action="http://WebService/TMWebService/ClaimTicketRequest" message="tns:ClaimTicket"/>
<output wsam:Action="http://WebService/TMWebService/ClaimTicketResponse" message="tns:ClaimTicketResponse"/>
</operation>
</portType>
<binding name="TMWebServicePortBinding" type="tns:TMWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetPaymentMethods">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CancelTicketOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetVenueWithProvince">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ApproveRefundTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SellerLogIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SellerSignUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SellerUpdateData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetVenueWithCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConnectionTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UserLogIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UserSignUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UserUpdateData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PayTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateVenueData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RefundTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetVenueWithName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateNewEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateEventData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetSellerEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateNewVenue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuyTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompanyEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ClaimTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TMWebService">
<port name="TMWebServicePort" binding="tns:TMWebServicePortBinding">
<soap:address location="http://localhost:8080/TicketMarketplaceWebService/TMWebService"/>
</port>
</service>
</definitions>